body {
    background-color: rgba(107, 149, 255, 0.902);
    }

.head,
.text {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        }
    
.main {
        font-size: 72px;
        font-weight: bold;
        }
    
.sub {
        font-size: 32px ;
        }